.App{
  max-width: 370px;
}
.contant{
  display: flex;
  align-items: center;
  margin: 8px 16px;
  width: 100%;
}
.contant input{
  height: 40px;
  width: 100%;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  padding-left: 40px;
  position: relative;
}
.search-icon{
  position: absolute;
  font-size: 25px;
  color: white;
  margin-left: 8px;
}
.flex{
  display: flex;
  align-items: center;
}
.plus{
  margin-top: 8px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
.contact-box{
  width: 360px;
  height: 64px;
  margin: 8px 16px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  background-color: #ffeaae ;
}
.user-icon{
  font-size: 48px;
  color: #f6820c;
}
.contact-box-contant{
  display: flex;
  flex-direction: column;
}
.contact-box-contant h3{
 margin: 0;
 font-size: 18px;
 font-weight: 500;
}
.contact-box-contant p{
 margin: 0;
 font-size: 14px;
}
.edit-delete-icons{
  font-size: 27px;
  display: flex;
  gap: 9px;
  cursor: pointer;
}